* {
	box-sizing: border-box;
	font-family: Poppins;
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(222, 222, 222);
}

#main {
	display: grid;
	grid-template-columns: repeat(5, 280px);
	gap: 24px;
	padding: 30px;
}

.title-container {
	font-size: 20px;
	width: 180px;
}

.box-container {
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	height: 260px;
	width: 260px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: relative;
}

.box-container:hover {
	scale: 105%;
	transition: 0.1s;
}

.read,
.not-read {
	color: white;
	border: none;
	height: 30px;
	width: 100px;
	border-radius: 15px;
}

.read:hover,
.not-read:hover {
	opacity: 80%;
	transition: 0.1s;
}

.read:active,
.not-read:active {
	scale: 110%;
	transition: 0.1s;
}

.read {
	background-color: teal;
}

.not-read {
	background-color: coral;
}

.box-container button {
}

.delete-btn {
	border: none;
	background-color: red;
	color: white;
	position: absolute;
	right: 12px;
	top: 12px;
	height: 20px;
	width: 20px;
	border-radius: 10px;
	font-weight: 700;
}

.delete-btn:hover {
	scale: 120%;
	transition: 0.1s;
}

.delete-btn:active {
	scale: 80%;
	transition: 0.1s;
}