* {
	box-sizing: border-box;
	font-family: Poppins;
}

body {
	background-color: rgb(222, 222, 222);
}

#main {
	display: grid;
	grid-template-columns: repeat(4, 200px);
	gap: 24px;
	padding: 30px;
}

.title-container {
	font-size: 20px;
}

.box-container {
	background-color: white;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	height: 200px;
	width: 200px;
}